@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {
  text-align: center;
}
.main-card button {
  position: relative;
  left: -45px;
  bottom: 15px;
}
.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.title{
  font-family: 'Yeon Sung', cursive;
  font-size:36px;
}

.title-img{
  margin-top:-20px;
  margin-bottom: 30px;
  width: 200px;
}